<!DOCTYPE html>
<html>
<head>
  <title>Do My Tax Return</title>
</head>

<header>
  <p>[Enter forms at the top with fixed positioning]</p>
</header>

<body>
  <%= yield %>
</body>

<footer>
  <p>Footer info here</p>
</footer>


</html>