<!-- We have @businesses and @categories available -->
<form action="/transactions" method="post">
    <div class="container-form">
      <div class="item">
        <input type="date" name="day" value="Date">
      </div>
      <div class="item-form">
        <select name="business_id">
          <% @businesses.each do |business| %>
            <option value="<%= business.id %>"><%= business.name %></option>
          <% end %>
        </select>
        <p class="add-link"><a href="/businesses">Add New Business</a>  &rarr;</p>
      </div>
      <div class="item-form">
        <select name="category_id">
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.label %></option>
          <% end %>
        </select>
      </div>
      <div class="item-form">
        <input type="text" name="supplier" value="Supplier">
      </div>
      <div class="item">
        £ <input type="text" name="amount">
      </div>
      <div class="item-small">
        <input type="submit" value="Add">
      </div>
  </div>
</form>



