<h1>All Businesses</h1>

<% @businesses.map do |business| %>
  <%= business.name %>
  <form action="/businesses/<%= business.id %>/delete" method="post">
    <input type="submit" Value="Delete">
  </form>
<% end %>
