<!-- Business New Form -->
<form action="/businesses" method="post">
  <input type="text" name="name">
  <input type="submit" value="Add Business">
</form>

<h2>All Businesses</h2>

<% @businesses.map do |business| %>
  <div class="container">
    <div class="item"><%= business.name %></div>
    <div class="item"><form onsubmit="return confirm('Warning: Deleting a business will delete any transactions that it is associated with it.')" action="/businesses/<%= business.id %>/delete" method="post">
      <input type="submit" Value="Delete">
    </form></div>
  </div>
  <% end %>
<p>&larr;  <a href="/transactions">Transactions</a></p>






